### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/src/ir/ac/iust/client/movie.mkv
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)
.idea/
